# Cuaderno 4: Tuplas

Una tupla es similar a una lista, pero es un tipo *inmutable*.
    
## Aspectos b√°sicos

Una tupla se define escribiendo sus elementos separados por comas, generalmente rodeados de par√©ntesis.

In [3]:
T=('pablo', 'Quito', 43, ['rojo', 'verde'])
print(T)
print(type(T))

('pablo', 'Quito', 43, ['rojo', 'verde'])
<class 'tuple'>

Los par√©ntesis pueden omitirse cuando no haya lugar a confusi√≥n.

In [4]:
T= 'pablo', 'Quito', 43, ['rojo', 'verde']
print(T)
print(type(T))

('pablo', 'Quito', 43, ['rojo', 'verde'])
<class 'tuple'>

Para crear una tupla que contenga un solo valor, no es suficiente rodearlo de par√©ntesis. Se necesita de una coma al final para indicar que es una tupla. La instrucci√≥n *type* retorna el tipo de datos de una variable.

In [7]:
L=("Pablo")
print(type(L))

<class 'str'>

In [8]:
L=('pablo',)
print(type(L))

<class 'tuple'>

Para acceder a los elementos de una tupla se utilizan indices entre corchetes.

In [9]:
print(T)
print(T[0])
print(T[3])

('pablo', 'Quito', 43, ['rojo', 'verde'])
pablo
['rojo', 'verde']

Pueden especificarse rangos empleando $[ùëé:ùëè]$, donde se puede omitir el √≠ndice $a$ o $b$ del rango.

In [10]:
print(T[0:2])
print(T[0:])
print(T[:])

('pablo', 'Quito')
('pablo', 'Quito', 43, ['rojo', 'verde'])
('pablo', 'Quito', 43, ['rojo', 'verde'])

El √≠ndice de -1 se refiere al √∫ltimo elemento, -2 al pen√∫ltimo elemento y as√≠ sucesivamente.

In [12]:
print(T)
print(T[-1])
print(T[-2])
print(T[0:-1])
print(T[1:-1])

('pablo', 'Quito', 43, ['rojo', 'verde'])
['rojo', 'verde']
43
('pablo', 'Quito', 43)
('Quito', 43)

Las tuplas son *inmutables*.

In [13]:
print(T)
T[0]='Juan'

('pablo', 'Quito', 43, ['rojo', 'verde'])

TypeError: 'tuple' object does not support item assignment

**No** es posible eliminar un elemento o elementos individuales.

In [14]:
del T[1]

TypeError: 'tuple' object doesn't support item deletion

Es posible eliminar una tupla por completo usando la funci√≥n **del**.

In [15]:
del T
print(T)

NameError: name 'T' is not defined

### Operaciones b√°sicas
Las tuplas responden a los operadores $+$ y $*$ al igual que las cadenas y listas; aqu√≠ tambi√©n significan concatenaci√≥n y repetici√≥n, excepto que el resultado es una nueva tupla.

In [16]:
T=('pablo', 'Quito', 43, ['rojo', 'verde'])
T=3
T=('pablo', 'Quito', 43, ['rojo', 'verde'])
T = T + (44, 'otro')
print(T)

('pablo', 'Quito', 43, ['rojo', 'verde'], 44, 'otro')

In [ ]:
T*= 2
print(T)

### Funciones y m√©todos √∫tiles


La funci√≥n **len (T)** devuelve la longitud total de la tupla *T*.

In [17]:
print (len(T))

6

La funci√≥n **tuple (S)** convierte una lista S en una tupla T

In [18]:
S=['pablo', 'Quito', 43, ['rojo', 'verde']]
print(S)
print (type(S))
U = tuple(S)
print(U)
print (type(U))

['pablo', 'Quito', 43, ['rojo', 'verde']]
<class 'list'>
('pablo', 'Quito', 43, ['rojo', 'verde'])
<class 'tuple'>

El m√©todo **count(x)**	devuelve el n√∫mero de elementos iguales a *x*.

In [19]:
print(T)
print(T.count(['rojo', 'verde']))

('pablo', 'Quito', 43, ['rojo', 'verde'], 44, 'otro')
1

In [20]:
print(T.count('Pablo'))

0


El m√©todo **index(x)** devuelve la posici√≥n del primer elemento igual a *x*.

In [21]:
print (T.index('Quito'))

1

### Observaci√≥n

Cuando un elemento de una tupla es de tipo list, se pueden utilizar sobre √©ste todas las funciones y m√©todos para listas (ver Cuaderno 3).

In [24]:
print(T)
T[3].append('azul')
print (T)

('pablo', 'Quito', 43, ['rojo', 'verde', 'azul', 'azul'], 44, 'otro')
('pablo', 'Quito', 43, ['rojo', 'verde', 'azul', 'azul', 'azul'], 44, 'otro')

In [25]:
T[3].reverse ()
print (T)

('pablo', 'Quito', 43, ['azul', 'azul', 'azul', 'verde', 'rojo'], 44, 'otro')

In [26]:
# pero reverse no puede aplicarse directamente sobre T
T.reverse()

AttributeError: 'tuple' object has no attribute 'reverse'